PORT=5000
#MONGODB_URI=mongodb+srv://aoche:TxFy74Q6GquhouxO@cluster0.1dhzixs.mongodb.net/?appName=Cluster0
#JWT_SECRET=ma_super_cle_secrete_pour_jwt_2024
#JWT_EXPIRE=7d
#CLOUDINARY_CLOUD_NAME=dzim8er8c
#CLOUDINARY_API_KEY=432971644841418
#CLOUDINARY_API_SECRET=**********

# Stripe
#STRIPE_SECRET_KEY=sk_test
#STRIPE_WEBHOOK_SECRET=whsec_
#STRIPE_PUBLISHABLE_KEY=pk_test_

# Email (Gmail example)
#EMAIL_HOST=smtp.gmail.com
#EMAIL_PORT=587
#EMAIL_USER=votreemail@gmail.com
#EMAIL_PASSWORD=abcdefghijklmnop  # Sans espaces !

# Twilio (optionnel)
#TWILIO_ACCOUNT_SID=AC 
#TWILIO_AUTH_TOKEN=f7 
#TWILIO_PHONE_NUMBER=+1234567890

# URL frontend pour les liens
#FRONTEND_URL=http://localhost:3000

#DATABASE_URL="prisma+postgres://localhost:51213/?api_key=eyJkYXRhYmFzZVVybCI6InBvc3RncmVzOi8vcG9zdGdyZXM6cG9zdGdyZXNAbG9jYWxob3N0OjUxMjE0L3RlbXBsYXRlMT9zc2xtb2RlPWRpc2FibGUmY29ubmVjdGlvbl9saW1pdD0xJmNvbm5lY3RfdGltZW91dD0wJm1heF9pZGxlX2Nvbm5lY3Rpb25fbGlmZXRpbWU9MCZwb29sX3RpbWVvdXQ9MCZzaW5nbGVfdXNlX2Nvbm5lY3Rpb25zPXRydWUmc29ja2V0X3RpbWVvdXQ9MCIsIm5hbWUiOiJkZWZhdWx0Iiwic2hhZG93RGF0YWJhc2VVcmwiOiJwb3N0Z3JlczovL3Bvc3RncmVzOnBvc3RncmVzQGxvY2FsaG9zdDo1MTIxNS90ZW1wbGF0ZTE_c3NsbW9kZT1kaXNhYmxlJmNvbm5lY3Rpb25fbGltaXQ9MSZjb25uZWN0X3RpbWVvdXQ9MCZtYXhfaWRsZV9jb25uZWN0aW9uX2xpZmV0aW1lPTAmcG9vbF90aW1lb3V0PTAmc2luZ2xlX3VzZV9jb25uZWN0aW9ucz10cnVlJnNvY2tldF90aW1lb3V0PTAifQ"
#DATABASE_URL="mysql://root:@localhost:3308/doctor_consultation"